<form method="post" action="{{ path('app_contact_us_delete', {'id': contact_u.id}) }}"
      onsubmit="return confirm('Bu öğeyi silmek istediğinizden emin misiniz?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_u.id) }}">
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Sil
    </button>
</form>
