{% block body %}
    <h1>Edit ContactUs</h1>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-group">
        {{ form_widget(form) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-save"></i> {{ button_label|default('Save') }}
        </button>
    </div>
    {{ form_end(form) }}
{% endblock %}