{% extends 'base.html.twig' %}

{% block title %}İletişim Düzenle{% endblock %}

{% block body %}
    <div class="container mt-4">

        <div class="card shadow-sm mb-4">
            <div class="card-body">
                {{ include('contact_us/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a href="{{ path('app_contact_us_index') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Back to list
            </a>

            {{ include('contact_us/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
