{% extends 'base.html.twig' %}

{% block title %}Hakkımızda Düzenle{% endblock %}

{% block body %}
    <div class="container">
        <h1>Hakkımızda Düzenle</h1>

        {{ include('about_us/_form.html.twig', {'button_label': 'Güncelle'}) }}

        <div class="mt-4">
            <a href="{{ path('app_about_us_index') }}" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Listeye Dön
            </a>
        </div>

        <div class="mt-3">
            {{ include('about_us/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
